/*MY PORTFOLIO STYLESHEET*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
a.nav-link:link {
    color: whitesmoke;
   text-decoration: none;
}

a.nav-link:visited {
   color: whitesmoke;
   text-decoration: none;
}

a.nav-link:hover {
   color: whitesmoke;
   text-decoration: none;
}

a.nav-link:activeb {
   color: whitesmoke;
   text-decoration: none;
}

header {
    background-color: rgb(0, 0, 0);
    color: lightblue;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}

h2 {
    font-size: 40px;
}

header h1 {
    padding: 15px;
}

header h2 {
    font-size: 20px;
    padding: 0 0 5px 15px;
}

.intro {
    text-align: left;
    background-color: #145564;
    border-radius: 0 10px 10px 0;
    margin: 10px 10px 10px 0px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

nav ul li {
    color: black;
    padding: 10px;
    margin: 10px;
    list-style: none;
    float: right;
    display: flex;
    justify-content: space-around;
    background-color: #3e959a;
    border-radius: 10px;
}

.hero-img {
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/images/simple-background-abstract-slick.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
}

.hero-text {
    display: contents;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 40px;
    font-style: italic;
    text-shadow: 0 0 10px black;
}

.aboutSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: lightblue;
    width: 100%;
}

.about-me {
    width: 400px;
    height: auto;
    margin-top: 10px;
}

.about-me-content p {
    padding: 10%
}

.about-me h2 {
    text-align: center;
    color: lightblue;
    display: flex;
    justify-content: center;
    border-bottom: solid;
    border-bottom-color: whitesmoke;
    width: 200px;
    margin: auto;
    padding-top: 10%;
}

.headshot img {
    margin: 40px 50px 40px 80px;
    display: flex;
    width: 275px;
    height: auto;
    border-style: solid;
    border-color: rgb(0 71 110);
    border-radius: 20%;
    background-color: black;
}

.my-work {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.my-work h2 {
    color: lightblue;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: whitesmoke;
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding: 40px 40px 10px;
}

.grid-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    text-align: center;
}

.grid-list a {
    display: flex;
    margin: 150px 1px 25px 20px;
    justify-content: flex-end;
    position: absolute;
    z-index: 10;
    color: black;
    padding: 10px;
    background-color: #2ba1c5;
    border-style: solid;
    border-radius: 0px 10px 10px 0px;
    border-color: #2ba1c5;
    text-decoration: none;
}

.grid-box {
    opacity: 0.4;
    transition: 0.3s;
}

.grid-box:hover {
    opacity: 1;
    
}



.grid-list img {
    object-fit: fill;
    height: 200px;
    width: 400px;
    overflow: hidden;
    padding: 5px;
    border-style: inset;
    border-color: #2ba1c5;
    margin: 20px
}

#runbuddy-img {
    height: 250px;   
    width: 500px;
}

footer {
    color: whitesmoke;
    background-color: #145564;
    text-align: center;
    line-height: 1.5;
    padding: 25px;
}
 
/*Media Queries/////*/

@media screen and (max-width: 550px) {

    .intro {
        margin: auto;
    }

    ul {
        padding-inline-start: 0px;
    }

    nav ul li {
        padding: 7px
    }

    nav a {
        font-size: small;
    }

    .my-work h2, .about-me h2 {
        width: 175px;
        font-size: x-large;
    }

    .about-me h2 {
        padding-top: 0%;
    }

    .grid-list img {
        height: 150px;
        width: 220px;
        margin: 30px;
    }

    #runbuddy-img {
        height: 200px;   
        width: 275px;
        }

    .grid-list a {
        display: flex;
        margin: auto;
        position: absolute;
        padding: 3px;
        font-size: 17px;
        margin-top: 125px;
        margin-left: 30px;
    }

    .headshot img {
        width: 150px;
        height: auto;
        margin: 25px
    }

    .hero-img {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .hero-text {
        font-size: xx-large;
    }

    footer {
        padding: 10px
    }

    footer h3 {
        font-size: smaller50;
    }

    .grid-box {
        opacity: 1;
        transition: none;
    }
}

@media screen and (max-width: 768px) {

    .grid-box {
        opacity: 1;
        transition: none;
    }
}